@import "tailwindcss";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/vintage";

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@utility scrollbar-none {
	@apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility scrollbar-stable {
	scrollbar-gutter: stable;
}

@utility scrollbar-stable-x {
	scrollbar-gutter: stable both-edges;
}

@utility scrollbar-thin {
	scrollbar-width: thin;
}

:root {
	scrollbar-color: var(--color-primary-100-900) rgba(0, 0, 0, 0);
}
