@import "tailwindcss";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/vintage";

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

:root {
	scrollbar-color: var(--color-primary-100-900) rgba(0, 0, 0, 0);
}

@utility scrollbar-none {
	@apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility scrollbar-stable {
	scrollbar-gutter: stable;
}

@utility scrollbar-stable-x {
	scrollbar-gutter: stable both-edges;
}

@utility scrollbar-thin {
	scrollbar-width: thin;
}

@utility pf2e-card {
	--border-width: 1px;
	--border: var(--border-width) solid transparent;

	@apply backdrop-blur-xs;

	background: linear-gradient(
		160deg,
		--alpha(var(--color-surface-300) / 0.25),
		--alpha(var(--color-surface-200) / 0.15)
	);

	@variant dark {
		background: linear-gradient(
			160deg,
			--alpha(var(--color-surface-600) / 0.3),
			--alpha(var(--color-surface-800) / 0.15)
		);
	}

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		inset: 0;
		border-radius: inherit;
		border: var(--border);
		background: linear-gradient(160deg, var(--color-surface-500), var(--color-surface-800)) border-box;
		mask:
			linear-gradient(black, black) border-box,
			linear-gradient(black, black) padding-box;
		mask-composite: subtract;
	}
}

/*
Used as either pf2e-card-border-4(px)
Or pf2e-card-border-[1px_solid_transparent]
*/
@utility pf2e-card-border-* {
	--border-width: calc(--value(number) * 1px);
	--border: --value([*]);
}

@utility background-pattern-cube {
	transition: background 0.5s ease-out;
	transform-origin: center;
	--top-opacity: 2%;
	--side-opacity: 1%;
	--front-opacity: calc(var(--top-opacity) + var(--side-opacity));
	--scale: 1;
	--primary-color: var(--color-primary-900);

	@variant dark {
		--primary-color: var(--color-primary-500);
		--top-opacity: 2.5%;
		--side-opacity: 1%;
	}

	background-image:
		linear-gradient(
			30deg,
			--alpha(var(--primary-color) / var(--top-opacity)) 12%,
			transparent 12.5%,
			transparent 87%,
			--alpha(var(--primary-color) / var(--top-opacity)) 87.5%,
			--alpha(var(--primary-color) / var(--top-opacity))
		),
		linear-gradient(
			150deg,
			--alpha(var(--primary-color) / var(--front-opacity)) 12%,
			transparent 12.5%,
			transparent 87%,
			--alpha(var(--primary-color) / var(--front-opacity)) 87.5%,
			--alpha(var(--primary-color) / var(--front-opacity))
		),
		linear-gradient(
			30deg,
			--alpha(var(--primary-color) / var(--top-opacity)) 12%,
			transparent 12.5%,
			transparent 87%,
			--alpha(var(--primary-color) / var(--top-opacity)) 87.5%,
			--alpha(var(--primary-color) / var(--top-opacity))
		),
		linear-gradient(
			150deg,
			--alpha(var(--primary-color) / var(--front-opacity)) 12%,
			transparent 12.5%,
			transparent 87%,
			--alpha(var(--primary-color) / var(--front-opacity)) 87.5%,
			--alpha(var(--primary-color) / var(--front-opacity))
		),
		linear-gradient(
			60deg,
			--alpha(var(--primary-color) / var(--side-opacity)) 25%,
			transparent 25.5%,
			transparent 75%,
			--alpha(var(--primary-color) / var(--side-opacity)) 75%,
			--alpha(var(--primary-color) / var(--side-opacity))
		),
		linear-gradient(
			60deg,
			--alpha(var(--primary-color) / var(--side-opacity)) 25%,
			transparent 25.5%,
			transparent 75%,
			--alpha(var(--primary-color) / var(--side-opacity)) 75%,
			--alpha(var(--primary-color) / var(--side-opacity))
		);
	background-size: calc(40px * var(--scale)) calc(70px * var(--scale));
	background-position:
		0 0,
		0 0,
		calc(20px * var(--scale)) calc(35px * var(--scale)),
		calc(20px * var(--scale)) calc(35px * var(--scale)),
		0 0,
		calc(20px * var(--scale)) calc(35px * var(--scale));
}
